.header-main,
.form,
.main-princ__container,
.main-prognose__container,
.our-works,
.main-trust__container,
.footer__container {
    width: 73%;
    margin: 0 auto;
    /* border: 1px solid blue; */
}

.header {
    height: 700px;
    background-image: url(/assets/images/page6/head_page6.png);
    width: 100%;
    max-width: 100%;
}

.header__nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
}

.link {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.link:hover {
    text-decoration: underline;
    color: white
}

.header__btn {
    padding: 15px;
    margin: 5px;
    color: white;
    background-color: Transparent;
    font-family: 'Inter', sans-serif;
    border: 1px solid #C1D3DE;
    box-sizing: border-box;
    border-radius: 12px;
}

.header__btn-clr {
    color: #C1D3DE;
    margin-right: 30px;
}

.header__text {
    color: white;
}

.header-text__container {
    width: 90%;
    max-width: 90%;
    padding-top: 40px;
}

.header-text__h2 {
    font-weight: 900;
    font-size: 38px;
    font-family: 'Inter', sans-serif;
}

.header-text__h1 {
    font-weight: 900;
    font-size: 60px;
    font-family: 'Inter', sans-serif;
}

.header-text__p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.header-main {
    color: white;
    display: flex;
    padding-top: 40px;
}

.header__form {
    width: 70%;
}

.header__form-container {
    background-color: #376FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    padding-top: 60px;
    padding-bottom: 45px;
}

.header__input {
    background: #376FFF;
    border: 1px solid #C1D3DE;
    border-radius: 5px;
    height: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #C1D3DE;
    width: 90%;
    padding: 7px;
}

input[type=text]::placeholder {
    color: #C1D3DE;
}

textarea[type=text]::placeholder {
    color: #C1D3DE;
}

.header__input,
.footer__input,
.footer__button:focus {
    outline: 0;
}

.header__input-big {
    height: 120px;
}

.header__h3 {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    color: #FFFFFF;
}

.header__button {
    background: #FFFFFF;
    border-radius: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    color: #376FFF;
    width: 208px;
    height: 60px;
}

.header__vector-img {
    margin-left: 5px;
}

.checkbox-flex-header {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
}

.header__div-for-input {
    margin-bottom: 10px;
}

.header__checkbox-button {
    margin-left: 10px;
    margin-right: 10px;
}

.header__checkbox-button {
    display: none;
}

.header__checkbox-button+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.header__checkbox-button+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #C1D3DE;
    background: #376FFF;
    border-radius: 4px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.header__checkbox-button:checked+label::before {
    border-color: #C1D3DE;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.header__container-chekbox {
    display: flex;
}

.header__container-for-button {
    display: flex;
    align-items: center;
}

.header__link {
    color: white;
    text-decoration: underline;
}

.header__div-for-input {
    margin-bottom: 10px;
}


.main-princ {
    background-color: #EDF4FA;
}

.main-princ__container {
    display: flex;
    padding-top: 40px;
    padding-bottom: 60px;
}

.main-princ__h3 {
    font-size: 38px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}

.R-400 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.main-princ-p2 {
    background-color: #FBF7F1;
    border: 1px solid #C1D3DE;
    border-radius: 12px;
    padding: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-prognose-bg {
    background-color: #393A56;
}

.main-prognose__container {
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-prognose__h4 {
    max-width: 90%;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
}

.main-prognose__inner-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 40px;
}

.col1,
.col2 {
    border-top: 1px solid #8B9BAB;
}

.col2 {
    margin-left: 90px;
}

.main-prognose__header3 {
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.main-prognose__text {
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.main-prognose-btn {
    color: #FFFFFF;
    background-color: #376FFF;
    border-radius: 12px;
    font-family: 'Inter', sans-serif;
    font-style: bold;
    font-weight: 700;
    width: 279px;
    height: 60px;

}

.our-works-bg {
    background-color: #EDF4FA;
}

.our-works {
    padding-top: 40px;
    padding-bottom: 60px;
}

.our-works-ph {
    border-radius: 10px;
    max-width: 100%;
}

.our-works__h5 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 38px;
}

.our-works__text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 28px;
}

.our-works-photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 25px;
}

.main-trust__container {
    padding-top: 40px;
    padding-bottom: 60px;
}

.main-trust__images img {
    max-width: 180px;
}

.main-trust__h2 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}

.main-trust__images {
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 10px;

}

.main-trust__telephon-container {
    display: flex;
    background-color: #376FFF;
    border-radius: 15px;
    justify-content: space-around;
    align-items: center;
}

.main-trust__telephon {
    font-size: 50px;
    font-weight: 700;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.main-trust__h2-white {
    font-size: 28px;
    font-weight: 900;
    color: white;
}

.main-trust__p {
    color: white;
    font-size: 18px;
    margin-top: 20px;
}

.main-trust__telephon-container div {
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-trust__telephon-text {
    max-width: 40%;
}


.footer {
    background-color: rgba(237, 244, 250, 1);
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__container {
    width: 73%;
    display: grid;
    grid-template-columns: 50% 49%;
    grid-gap: 10px;
    align-self: center;
}

.footer__container-left {
    display: flex;
    flex-direction: column;
}

.footer__innercontainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.footer__text {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
}

.footer__text-grey {
    color: #8B9BAB;
}

.footer__text-blue {
    text-decoration-line: underline;
    color: #376FFF;
}

.footer__text-dark {
    color: #393A56;
}

.text-blue {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 18px;
}

.footer__text-bottom {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #8B9BAB;
}

.footer__img {
    border-radius: 10px;
    margin-top: 30px;
}

.footer__form {
    background-color: #376FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 60px;
    padding-bottom: 20px;

}

.footer__input {
    background: #376FFF;
    border: 1px solid #C1D3DE;
    border-radius: 8px;
    height: 30px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #C1D3DE;
    width: 90%;
    padding-left: 10px;

}

.footer__input:focus {
    outline: 0;
}

.footer__input-big {
    height: 120px;
    padding-top: 10px;
}

.footer__header {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 900;
    color: #FFFFFF;
}

.footer__form-text {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

.footer__button {
    background: #FFFFFF;
    border-radius: 12px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #376FFF;
    width: 208px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    margin-right: 5px;
}


.footer__checkobox {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #C1D3DE;
}


.footer__link {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #C1D3DE;
}

.footer__link:hover {
    color: white;
}

.footer__container-for-button {
    display: flex;
    align-items: center;

}

.footer__div-for-input {
    margin-bottom: 10px;
}

.footer__checkbox-button {
    margin-left: 10px;
    margin-right: 10px;

}

.footer__checkbox-button {
    display: none;
}

.footer__checkbox-button+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.footer__checkbox-button+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #C1D3DE;
    background: #376FFF;
    border-radius: 4px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.footer__checkbox-button:checked+label::before {
    border-color: #C1D3DE;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.footer__container-chekbox {
    display: flex;
}



@media screen and (min-width: 1025px) {
    .header__nav-gamburger {
        display: none;
    }

    .header-text__h2 {
        font-size: 28px;
    }

    .main-princ__photo {
        display: none;

    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .main-princ__container,
    .main-prognose__container,
    .our-works,
    .main-trust__container,
    .footer__container {
        width: 95%;
    }

    .header-main {
        width: 100%;
    }

    .header__logo {
        padding-top: 24px;
    }

    .header {
        background-image: url(/assets/images/page6/head_page6.png);
        width: 100%;
        max-width: 100%;
    }

    .header__nav {
        padding-top: 5px;
    }

    .header .header__nav-container {
        background-color: #FFFFFF;
        margin: 0px;
        height: 80px;
        padding-top: 0px;
    }

    .link {
        display: none;
    }

    .btn-blue {
        border: 1px solid #376FFF;
        color: #376FFF;
        font-weight: bold;
    }

    .btn-grey {
        border: 1px solid #8B9BAB;
        color: #8B9BAB;
        font-weight: bold;
    }


    .header-text__container {
        width: 100%;
        max-width: 100%;
        padding-top: 5px;
        padding-left: 15px;
    }

    .header-text {
        padding-top: 80px;
    }

    .header-text__h2 {
        font-size: 28px;
    }

    .header-text__h1 {
        font-size: 48px;
    }

    .header-text__p {
        font-size: 16px;
    }

    .header__form {
        padding-right: 20px;
        padding-left: 20px;
    }

    .header__form-container {
        padding-left: 25px;
        padding-top: 30px;
        padding-bottom: 20px;
        border-radius: 10px;
    }

    .header__input-big {
        height: 90px;
    }

    .header__h3 {
        font-size: 28px;
    }

    .header__container-for-button {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .header__button {
        width: 254px;
        height: 60px;
    }

    .main-princ__container {
        padding-top: 30px;
    }

    .main-princ__photo {
        max-width: 100%;
        padding-top: 100px;
    }

    .main-princ__h3 {
        font-size: 28px;
    }

    .main-princ-p1,
    .main-princ-p2,
    .main-princ-p3 {
        font-size: 16px;
    }


    .main-prognose__h4 {
        font-size: 28px;
        max-width: 100%;
    }

    .col2 {
        margin-left: 30px;
    }

    .main-trust__h2,
    .main-trust__h2-white {
        font-size: 28px;
    }

    .main-trust__p {
        font-size: 18px;
    }

    .main-trust__telephon {
        font-size: 32px;
        text-align: center;
    }

    .footer__innercontainer {
        display: flex;
        flex-direction: column;
    }

    .footer__img {
        padding-top: 40px;
    }

    .footer__container-for-button {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .footer__button {
        width: 254px;
        height: 60px;
        justify-content: center;
    }

    .footer-vector {
        padding-left: 10px;
    }

    .footer__container-chekbox {
        display: flex;
        padding-top: 10px;
    }


}





@media screen and (max-width: 767px) {

    .header-main,
    .main-princ__container,
    .main-prognose__container,
    .our-works,
    .main-trust__container,
    .footer__container {
        width: 95%;
    }

    .header-main {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
    }

    .header {
        background-image: url(/assets/images/page5/about_us_header.png);
        width: 100%;
        max-width: 100%;
        height: 100%;
    }

    .header__logo {
        padding-top: 24px;
    }

    .header .header__nav-container {
        background-color: #FFFFFF;
        margin: 0px;
        height: 80px;
        padding-top: 0px;
    }

    .link,
    .header__btn {
        display: none;
    }

    .header__nav {
        padding-top: 24px;
    }

    .header-text__container {
        width: 100%;
        max-width: 100%;
        padding-top: 15px;
        padding-left: 15px;
    }

    .header-text__h2 {
        font-size: 24px;
        padding-bottom: 10px;
    }

    .header-text__h1 {
        font-size: 32px;
    }

    .header-text__p {
        font-size: 16px;
    }

    .header-main {
        display: flex;
        flex-direction: column;
    }

    .header__form-container {
        padding-top: 30px;
        padding-bottom: 20px;
        border-radius: 0;
    }

    .header__input-big {
        height: 90px;
    }

    .header__h3 {
        font-size: 28px;
    }

    .header__form {
        width: 100%;
    }

    .header__container-for-button {
        display: flex;
        flex-direction: column;
    }

    .header__button {
        width: 200px;
        height: 48px;
    }

    .header__checkbox {
        display: flex;
        align-items: center;
        padding-top: 10px;
    }

    .main-princ__container {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        justify-content: center;
    }

    .main-princ__photo {
        max-width: 80%;
        padding-bottom: 15px;
    }

    .main-princ__h3 {
        font-size: 28px;
    }

    .main-princ-p1,
    .main-princ-p2,
    .main-princ-p3 {
        font-size: 16px;
    }

    .main-prognose__h4 {
        font-size: 32px;
    }


    .main-prognose__inner-container {
        display: flex;
        flex-direction: column;
    }

    .col2 {
        margin-left: 0;
        margin-top: 20px;
    }

    .our-works {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .our-works__h5 {
        font-size: 28px;
    }

    .our-works__text {
        font-size: 20px;
    }

    .our-works-photos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .our-works-ph {
        max-width: 60%;
    }


    .main-trust__h2,
    .main-trust__h2-white {
        font-size: 28px;
    }

    .main-trust__telephon {
        font-size: 28px;
        text-align: center;
    }

    .main-trust__telephon-container {
        flex-direction: column;
        padding: 20px;
    }

    .main-trust__telephon-text {
        max-width: 90%;
    }

    .main-trust__telephon-container div {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .footer__container {
        display: flex;
        flex-direction: column;
    }

    .footer__innercontainer {
        display: flex;
        flex-direction: column;
    }

    .footer__img {
        max-width: 100%;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .footer__form {
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .footer__container-for-button {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .vector {
        padding-left: 5px;
    }

    .footer__checkbox {
        display: flex;
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .checkbox-flex {
        display: flex;
        padding-top: 10px;
    }

    .footer__input {
        border: 1px solid #C1D3DE;
        border-radius: 10px;
        height: 30px;
        font-size: 16px;
        width: 90%;
        padding-left: 10px;
    }

    .footer__input_big {
        height: 60px;
    }

    .footer__button {
        width: 248px;
        height: 48px;
        justify-content: center;
        align-items: center;
    }

    .footer-vector {
        padding-left: 5px;
    }

}